src/main/resources/DiplomaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.ttu.ee/idu0075/2018/ws/cyclingresults/wsdl"
                  targetNamespace="http://www.ttu.ee/idu0075/2018/ws/cyclingresults/wsdl">
    <wsdl:types>
        <xs:schema targetNamespace="http://www.ttu.ee/idu0075/2018/ws/cyclingresults/wsdl"
                   elementFormDefault="qualified">
            <xs:complexType name="diploma">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="event" type="xs:string"/>
                    <xs:element name="timeOfEvent" type="xs:dateTime"/>
                    <xs:element name="time" type="xs:time"/>
                    <xs:element name="placement" type="xs:long"/>
                    <xs:element name="ageGroup" type="xs:string"/>
                    <xs:element name="competitor" type="tns:competitor"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="competitor">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="personalCode" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="addDiplomaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="event" type="xs:string"/>
                        <xs:element name="timeOfEvent" type="xs:dateTime"/>
                        <xs:element name="time" type="xs:time"/>
                        <xs:element name="placement" type="xs:long"/>
                        <xs:element name="ageGroup" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="addDiplomaResponse" type="tns:diploma"/>

            <xs:element name="findAllDiplomasRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="findAllDiplomasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="diploma" type="tns:diploma"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="findDiplomaByIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findDiplomaByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="diploma" type="tns:diploma"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="setCompetitorToDiplomaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="diplomaId" type="xs:long"/>
                        <xs:element name="competitorId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setCompetitorToDiplomaResponse" type="tns:diploma"/>

            <xs:element name="findAllCompetitorsWithDiplomasRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="findAllCompetitorsWithDiplomasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="diplomaCompetitor"
                                    type="tns:diploma"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="addCompetitorRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="personalCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="addCompetitorResponse" type="tns:competitor"/>

            <xs:element name="findAllCompetitorsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="findAllCompetitorsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="competitor" type="tns:competitor"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="findCompetitorByIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="findCompetitorByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="competitor" minOccurs="0" type="tns:competitor"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addDiplomaMessageRequest">
        <wsdl:part name="parameter" element="tns:addDiplomaRequest"/>
    </wsdl:message>
    <wsdl:message name="addDiplomaMessageResponse">
        <wsdl:part name="parameter" element="tns:addDiplomaResponse"/>
    </wsdl:message>
    <wsdl:message name="findAllDiplomasMessageRequest">
        <wsdl:part name="parameter" element="tns:findAllDiplomasRequest"/>
    </wsdl:message>
    <wsdl:message name="findAllDiplomasMessageResponse">
        <wsdl:part name="parameter" element="tns:findAllDiplomasResponse"/>
    </wsdl:message>
    <wsdl:message name="findDiplomaByIdMessageRequest">
        <wsdl:part name="parameter" element="tns:findDiplomaByIdRequest"/>
    </wsdl:message>
    <wsdl:message name="findDiplomaByIdMessageResponse">
        <wsdl:part name="parameter" element="tns:findDiplomaByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="setCompetitorToDiplomaMessageRequest">
        <wsdl:part name="parameter" element="tns:setCompetitorToDiplomaRequest"/>
    </wsdl:message>
    <wsdl:message name="setCompetitorToDiplomaMessageResponse">
        <wsdl:part name="parameter" element="tns:setCompetitorToDiplomaResponse"/>
    </wsdl:message>
    <wsdl:message name="findAllCompetitorsWithDiplomasMessageRequest">
        <wsdl:part name="parameter" element="tns:findAllCompetitorsWithDiplomasRequest"/>
    </wsdl:message>
    <wsdl:message name="findAllCompetitorsWithDiplomasMessageResponse">
        <wsdl:part name="parameter" element="tns:findAllCompetitorsWithDiplomasResponse"/>
    </wsdl:message>
    <wsdl:message name="addCompetitorMessageRequest">
        <wsdl:part name="parameter" element="tns:addCompetitorRequest"/>
    </wsdl:message>
    <wsdl:message name="addCompetitorMessageResponse">
        <wsdl:part name="parameter" element="tns:addCompetitorResponse"/>
    </wsdl:message>
    <wsdl:message name="findAllCompetitorsMessageRequest">
        <wsdl:part name="parameter" element="tns:findAllCompetitorsRequest"/>
    </wsdl:message>
    <wsdl:message name="findAllCompetitorsMessageResponse">
        <wsdl:part name="parameter" element="tns:findAllCompetitorsResponse"/>
    </wsdl:message>
    <wsdl:message name="findCompetitorByIdMessageRequest">
        <wsdl:part name="parameter" element="tns:findCompetitorByIdRequest"/>
    </wsdl:message>
    <wsdl:message name="findCompetitorByIdMessageResponse">
        <wsdl:part name="parameter" element="tns:findCompetitorByIdResponse"/>
    </wsdl:message>
    <wsdl:portType name="DiplomaPortType">
        <wsdl:operation name="addDiploma">
            <wsdl:input message="tns:addDiplomaMessageRequest"/>
            <wsdl:output message="tns:addDiplomaMessageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findAllDiplomas">
            <wsdl:input message="tns:findAllDiplomasMessageRequest"/>
            <wsdl:output message="tns:findAllDiplomasMessageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findDiplomaById">
            <wsdl:input message="tns:findDiplomaByIdMessageRequest"/>
            <wsdl:output message="tns:findDiplomaByIdMessageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setCompetitorToDiploma">
            <wsdl:input message="tns:setCompetitorToDiplomaMessageRequest"/>
            <wsdl:output message="tns:setCompetitorToDiplomaMessageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findAllCompetitorsWithDiplomas">
            <wsdl:input message="tns:findAllCompetitorsWithDiplomasMessageRequest"/>
            <wsdl:output message="tns:findAllCompetitorsWithDiplomasMessageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addCompetitor">
            <wsdl:input message="tns:addCompetitorMessageRequest"/>
            <wsdl:output message="tns:addCompetitorMessageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findAllCompetitors">
            <wsdl:input message="tns:findAllCompetitorsMessageRequest"/>
            <wsdl:output message="tns:findAllCompetitorsMessageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findCompetitorById">
            <wsdl:input message="tns:findCompetitorByIdMessageRequest"/>
            <wsdl:output message="tns:findCompetitorByIdMessageResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DiplomaBinding" type="tns:DiplomaPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addDiploma">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllDiplomas">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findDiplomaById">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setCompetitorToDiploma">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllCompetitorsWithDiplomas">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addCompetitor">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllCompetitors">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findCompetitorById">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DiplomaService">
        <wsdl:port name="DiplomaPort" binding="tns:DiplomaBinding">
            <soap:address location="Empty"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
